body {
  background-color: #212121 !important;
  color: #ffffff !important;
}

.PV0kIb {
  background-color: #212121 !important;
}

textarea {
  color: #ffffff !important;
}

.uqJv0c {
  color: #ffffff !important;
  border-bottom: solid 1px #616161 !important;
}

h2 {
  color: #FFFFFF !important;
}

.s9SBsc {
  color: #FFFFFF !important;

}

.fKz7Od .Ce1Y1c, .DPvwYc {
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
}

.ueeCfb {
  background-color: #212121 !important;
  border: 1px solid #616161 !important;
}
.ueeCfb:hover {
  background-color: #212121 !important;
  border: 1px solid #414141 !important;
}

.RFmU6c, .htVQK {
  color: #FFFFFF !important;
}

.zRfOtf {
  background-color: #212121 !important;
}

.lq5Efd {
  border: 1px solid #414141 !important;
}

.cHxrOd {
  color: #FFFFFF !important;
}

.w2MQg::before { 
  border-width: 0 0 0px !important;
}

.w2MQg::before {
  border-top-width: 0px;
}

.Ps8SG.EsHjHb:not(.eFoz8c) .li8wVd::after {
  background-color: #212121 !important;
}

.uqJv0c {
  background-color: #212121 !important;
}

.Q11Hfe {
  background-color: #212121 !important;
}

.Q11Hfe .uyYuVb {
  color: #FFFFFF !important;
}

.FwR7Pc {
  background-color: #414141 !important;
}

.g3VIld {
  background-color: #212121 !important;
  color: #FFFFFF !important;
}

.oGcqYb .oJeWuf, .JJouhd .oJeWuf, .tvxmw .oJeWuf {
  background-color: #212121 !important;
  color: #FFFFFF !important;
  border: 1px solid #414141 !important;
}

.F1pOBe {
  color: #FFFFFF !important;
}

.ntqEW .LMgvRb {
  color: #FFFFFF !important;
}

.jgvuAb {
  background-color: #212121 !important;
  color: #FFFFFF !important;
  border: 1px solid #414141 !important;
}

.ncFHed.OA0qNb {
  background: #212121 !important;
}

.ncFHed.OA0qNb .MocG8c.LMgvRb.KKjvXb {
  background-color: #414141 !important;
}

.JPdR6b {
  background: #212121 !important;
  border: 1px solid #414141 !important;
}

.VPKgCb {
  color: #FFFFFF !important;
}


.z80M1 .oJeWuf {
  color: #FFFFFF !important;
}

.BlPEEf {
  background-color: #212121 !important;
}

.n2rhZe {
  color: #FFFFFF !important;
}

.g3VIld {
  background-color: #212121 !important;
  color: #FFFFFF;
}

.aXBtI  {
  background-color: #212121 !important;
}

.tL9Q4c, .zHQkBf {
  color: #FFFFFF !important;

}

.JXiZgd {
  color: #FFFFFF !important;
}

.SOwpxe {
  background-color: #212121 !important;
  border: 1px solid #414141 !important;
}

.g3VIld {
  border: 1px solid #414141 !important;

}

.c5Eg0 .zLElQ .WhQfHb {
  color: #FFFFFF !important;
}

.FuZZcf {
  stroke: #FFFFFF !important;
}

.c5Eg0 .FTYGPe .LeaINd {
  color: #FFFFFF !important; 
}

.cs00mf .snByac {
  color: #777 !important;
}

.hek9ae {
  background-color: #212121 !important;
}

.i69Mv[aria-selected="true"] {
  background-color: #414141 !important;
}

.LjDxcd:active:not(:disabled), .LjDxcd:focus:not(:disabled), .LjDxcd:hover:not(:disabled) {
  color: #414141 !important;
}